$color-container: #F2F2F2;
$color-background: #FFFFFF;
$font-color: #000000;
$main-color: #FCC002;
$button-color: #008EFF;

.book_flight__button {
    text-align: center;
    font: normal normal bold 20px/20px Montserrat;
    letter-spacing: 0px;
    color: $color-background;
}

.line_width {
    width: 450px;
    height: 0px;
    border: 1px solid #000000;
    opacity: 1;
    grid-row: 4;
    margin-left: 20px;
    top: 137px;
}